@keyframes rotate360 {
    0% {transform:rotate(0deg)}
    100% {transform:rotate(360deg)}
}
@keyframes x500 {
    0% {transform:translateX(500px); opacity:0;}
    100% {transform:translateX(0); opacity:1;}
}
@keyframes bg_pst {
    0% {background-position-x:0;}
    100% {background-position-x:1000px;}
}
/* position:; 요소 이동 */
/* background-position:; 요소 고정, 요소 안 배경이미지 이동 */
/* background-poisition:x y; */
/* background-poisition-x:x; */
@keyframes mouse_hint {
    0% {transform:translateY(0);}
    100% {transform:translateY(10px);}
}