/* 디자인 css */
body {}
#weather {
    /* 1. 크기 393x852 */
    width:393px; height:852px;
    /* 2. 간격20(형제사이(css는 형제선택자에 작성해야함)), 패딩(부모-자식) */
    /* 패딩 상하(50) 좌우(15)  */
    padding:50px 15px;
    /* 3. 배경색 */
    background-color:#3183FF;
}
/* 부모(#weather) 안 모든(*) 자식(>) */
#weather > * {padding-bottom:20px;}
#weather h1 {}
#weather .area {}
#weather .temperature {}
#weather p {}
#weather .sub_title {}
#weather .humidity {}
#weather .dust {}
#weather .result {
    line-height:1.5;/* 150% */
}